<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SQUIRT</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

    <style>
        
    </style>
</head>
<body>
    <header>
        <div class="links">
            <a href="https://www.google.com.br/" target="_blank">Google</a> <!-- target = abrir outra janela -->
            <a href="#">Aulas</a>
        </div>
    </header>

    <div id="wrapper">
        <h1>Aulas</h1>
    </div>

  <section class="cards">

      <div class="card">
        <div class="card-image-container">
            <img src="https://avatars0.githubusercontent.com/u/60511927?s=460&u=dbab76ac12fab580382420fbcc0f96120d9413e0&v=4" alt="">
        </div>
  
        <div class="card-content">
            <p>Debora Perfeita</p>
        </div>
  
        <div class="card-info">
            <p>1 hora</p>
            <p class="card-price">10 mil</p>
        </div>
      </div>

      <div class="card">
        <div class="card-image-container">
            <img src="https://avatars0.githubusercontent.com/u/60511927?s=460&u=dbab76ac12fab580382420fbcc0f96120d9413e0&v=4" alt="">
        </div>
  
        <div class="card-content">
            <p>Debora Perfeita</p>
        </div>
  
        <div class="card-info">
            <p>1 hora</p>
            <p class="card-price">20 mil</p>
        </div>
      </div>

      <div class="card">
        <div class="card-image-container">
            <img src="https://avatars0.githubusercontent.com/u/60511927?s=460&u=dbab76ac12fab580382420fbcc0f96120d9413e0&v=4" alt="">
        </div>
  
        <div class="card-content">
            <p>Debora Perfeita</p>
        </div>
  
        <div class="card-info">
            <p>1 hora</p>
            <p class="card-price">30 mil</p>
        </div>
      </div>

      <div class="card">
        <div class="card-image-container">
            <img src="https://avatars0.githubusercontent.com/u/60511927?s=460&u=dbab76ac12fab580382420fbcc0f96120d9413e0&v=4" alt="">
        </div>
  
        <div class="card-content">
            <p>Debora Perfeita</p>
        </div>
  
        <div class="card-info">
            <p>1 hora</p>
            <p class="card-price">40 mil</p>
        </div>
      </div>

      <div class="card">
        <div class="card-image-container">
            <img src="https://avatars0.githubusercontent.com/u/60511927?s=460&u=dbab76ac12fab580382420fbcc0f96120d9413e0&v=4" alt="">
        </div>
  
        <div class="card-content">
            <p>Debora Perfeita</p>
        </div>
  
        <div class="card-info">
            <p>1 hora</p>
            <p class="card-price">50 mil</p>
        </div>
      </div>

      <div class="card" id="Isj2Pdw6Rn0">
        <div class="card-image-container">
            <img src="https://avatars0.githubusercontent.com/u/60511927?s=460&u=dbab76ac12fab580382420fbcc0f96120d9413e0&v=4" alt="">
        </div>
  
        <div class="card-content">
            <p>Debora Perfeita</p>
        </div>
  
        <div class="card-info">
            <p>1 hora</p>
            <p class="card-price">60 mil</p>
        </div>
      </div>
  </section>

  <div class="modal-overlay active">
      <div class="modal">
          <a class="close-modal">
            <span class="material-icons">close</span>
          </a>

          <div class="modal-content">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/jogr_QAgJUI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
      </div>
  </div>

  <script src="scripts.js"></script>
</body>
</html>