<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SQUIRT</title>

    <link rel="stylesheet" href="/public/style.css">

    <style>
        
    </style>
</head>
<body>
    <header>
        <div class="links">
            <a href="https://www.google.com.br/" target="_blank">Google</a> <!-- target = abrir outra janela -->
            <a href="/classes">Aulas</a>
        </div>
    </header>

    <div id="wrapper">
        <img src="https://avatars0.githubusercontent.com/u/60511927?s=460&u=dbab76ac12fab580382420fbcc0f96120d9413e0&v=4" alt="Debora Zandonai">
        <h1>Debora Zandonai</h1>
        <H2>Programadora Full-Stack</H2>
        <p>Estudante de Engenharia da Computação</p>
    </div>

    <div id="links-footer" class="links">
        <a href="https://github.com/DeboraZandonai" target="_blank">GitHub</a>
        <a href="https://twitter.com/dehzando" target="_blank">Twitter</a>
        <a href="https://www.linkedin.com/in/debora-zandonai-4ab092195/" target="_blank">LinkedIn</a>
    </div>
    
</body>
</html>