<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SQUIRT</title>

    <link rel="stylesheet" href="/public/style.css">

    <style>
        
    </style>
</head>
<body>
    <header>
        <div class="links">
            <a href="https://www.google.com.br/" target="_blank">Google</a> <!-- target = abrir outra janela -->
            <a href="/classes">Aulas</a>
        </div>
    </header>
</body>
</html>